body {
    margin: 0;
    padding: 0;
    overflow: auto;
}

// 自定义盒模型
// 卡片盒子
.card-box {
    background-color: var(--el-bg-color);
    padding: 40px 17px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: var(--el-border-color) 1px solid;
}

.dark-theme .card-box {
    background-color: var(--el-bg-color);
    padding: 40px 17px;
    border-radius: 10px;
    border: var(--el-border-color) 1px solid;
    position: relative;
    overflow: hidden;

    // 左右流光
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(to bottom, #e3b80a, #0056b3);
        animation: glow-left 4s infinite alternate;
        z-index: 1;
    }

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        width: 3px;
        height: 100%;
        background: linear-gradient(to bottom, #10e630, #c2185b);
        animation: glow-right 4s infinite alternate;
        z-index: 1;
    }

    // 上下流光（使用额外的类或结构）
    &>.top-glow {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #e3b80a, #10e630);
        animation: glow-top 12s infinite alternate;
        z-index: 1;
    }

    &>.bottom-glow {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 1px;
        background: linear-gradient(to right, #0056b3, #c2185b);
        animation: glow-bottom 12s infinite alternate;
        z-index: 1;
    }
}

@keyframes glow-left {
    0% {
        transform: translateY(-100%);
    }

    100% {
        transform: translateY(100%);
    }
}

@keyframes glow-right {
    0% {
        transform: translateY(100%);
    }

    100% {
        transform: translateY(-100%);
    }
}

@keyframes glow-top {
    0% {
        transform: translateX(-100%);
    }

    100% {
        transform: translateX(100%);
    }
}

@keyframes glow-bottom {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

//居中显示
.center-box {
    display: flex;
    justify-content: center;
}

//显示面板
.showPanel {
    display: flex;
    padding: 20px 0;
    margin: 10px 20px;
    background: none;
}

::v-deep(.el-menu) {
    border-right: none !important;
    border-bottom: none !important;
    /* 修复白边 */
}


//显示面板内置sub菜单
.sidebar {
    flex-shrink: 0;
    width: auto;
    min-width: 120px;
    max-width: 200px;
    border-radius: 10px;
    overflow: hidden;
}

.main-content {
    flex-grow: 1;
    border-radius: 10px;
}

.sub-nav-font {
    font-size: 16px;
    border-radius: 10px;
    justify-content: left;
}